/*Sean Chapin "project2" implementation */

/* SASS Inheritance implementation*/
%message {
    margin-top: 10px; 
    margin: auto;                                                                                                                    
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center top;
    background-color: white;                                                                                                                                                 
    font-family: 'Times New Roman', Times, serif;                                                          
    color: #000000;
}

/* Home page background picture and formatting info */
#home {                                                                                                      
    @extend %message;                                                                                    
                                                         
}   

.navbar-nav {
    font-weight: bold;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 150%;
}

h1 {
    font-size: 450%;
    color: green;
    text-align: center;
}

h2 {
    text-align: center;
    color: turquoise;
 }

h3 {
    text-align: center;
    color: blue;
}
 
h4 {
     text-align: center;
     color: goldenrod;
}
 
h5 {
     font-size: 85%;
     text-align: center;
     color: red;
}

#page_title {
    font-size: 300%;
    color: blue;
    text-align: center;
}

#welcome_message {
    text-align: center;
    color: goldenrod;
}

#channel_list {
    font-size: 150%;
    margin: auto;
}

#create_new_channel {
    margin: auto;
    padding-left: 70px;
}

#login_in {
    margin: auto;
    padding-left: 150px;
}

#create_new_channel_button {
    margin: auto;
    padding-left: 75px;
}

