<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 

<!-- added bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

<!-- My css file -->
    <link rel="stylesheet" type="text/css" href="../static/flack.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>                                                                                                 
    <script src="{{ url_for('static', filename='list_current_channels.js') }}"></script>                                 
       
    <title>Channels List Page</title>

</head>

<body id="channels_home">
    <br>
    
    <div = "container">  
        <div class = "row">
            <div class = "col-sm">
            </div>
                <div class = "col-5"
                    <h2 id="page_title">Flack Channels List</h2> 
                </div> 
            <div class = "col-sm">
            </div>
        </div>
    </div>

    <br>

    <div = "container">  
        <div class = "row">
            <div class = "col-sm">
            </div>
                <div class = "col-4">
                    <h4>Please select or Create a New Channel</h4>
                </div> 
            <div class = "col-sm">
            </div>
        </div>
    </div>

    <br>

    <div = "container">  
        <div class = "row">
            <div class = "col-sm">
            </div>
                <div class="col-3" id = "channel_list">
                    {% for channel in channel_list %}
                    <!-- <a href="{{channel}}" class = "list-group-item list-group-item-action list-group-item-primary message_link">{{channel}}</a>  -->
                        <button class = "list-group-item list-group-item-action list-group-item-primary">{{channel}}</button>
                    {% endfor %}
                </div>   
            <div class = "col-sm">
            </div>
        </div>
    </div>

    <br>
    <br>

    <div = "container">  
        <div class = "row">
            <div class = "col-sm">
            </div>
                <div id="create_new_channel" class = "col-3">
                    <a class="btn btn-primary" href="{{ url_for('create_new_channel') }}" role="button">Create New Channel</a>
                </div>
            <div class = "col-sm">
            </div>
        </div>
    </div>

    <br>

    <div>
        <ul id = "message_list">
        </ul>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
