<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 

<!-- added bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

<!-- My css file -->
    <link rel="stylesheet" type="text/css" href="../static/flack.css">

    <title>Channels List Page</title>

</head>

<body id="channels_home">
    <div>  
        <br>                                                                                               
        <h2 id="page_title">Flack Channels List</h2> 
        <br>
        <br>                                                                    
    </div>

    <!-- <div class="container">
 Add a bootstrap navbar that links all four web pages to one another  
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="nav justify-content-left collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{{ url_for('list_current_channels') }}">List Current Channels<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active" href="{{ url_for('create_new_channel') }}">Create New Channel</a>
                    </div>
                </div>
            </nav> 
    </div>
-->
    <div class="channel_list">
        {% for channel in channel_list %}
            <a href="{{channel}}" class = "list-group-item list-group-item-action list-group-item-primary">{{channel}}</a> 
        {% endfor %}
    </div>

    <br>

    <div id="create_new_channel">
            <a class="btn btn-primary" href="{{ url_for('create_new_channel') }}" role="button">create new channel</a>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
